*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    height: 100%;
    text-align: center;
    margin: 0 1%;
    font-family: 'Times New Roman', Times, serif;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.timer {
    margin-right: 100px;
}

.startingPage {
    margin: 0 35%;
}

button {
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
}

#answerBlock{
    display: grid;
    padding: 0 30em;
}

p, ul {
    font-size: 20px;
}

input{
    display: inline;
}

.hidden {
    display: none;
}